ol{
    width: 1000px;
    float: center;
    margin-left: 0px;
}
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
#formList{
    margin-top: 1.3em;
    margin-left: 280px;
}
h3,h4,h5{
    margin-left: 50px;
}
#delete,#info{
    margin-left: 50px;
}
#tituloGrupoR{
    width: 900px;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
#btnAdd{
    margin-top: 1.3em;
    margin-left: 49px;
    width: 230px;
    height: 45px;
    font-size: 16px;
}

  
/* Estilos de la etiqueta switch */
.button-cover,
.knobs,
.layer {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.button {
position: relative;
top: 15%;
width: 64px;
height: 36px;

overflow: hidden;
}

.button.r,
.button.r .layer {
border-radius: 100px;
}

.button.b2 {
border-radius: 2px;
}  

.checkbox {
position: relative;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
opacity: 0;
cursor: pointer;
z-index: 3;
}
.knobs {
z-index: 2;
}

.layer {
width: 100%;
background-color: #fcebeb;
transition: 0.3s ease all;
z-index: 1;
}
#button-6 {
overflow: visible;
}

#button-6 .knobs:before {
content: "OFF";
position: absolute;
top: 4px;
left: 4px;
width: 28px;
height: 28px;
color: #fff;
font-size: 10px;
font-weight: bold;
text-align: center;
line-height: 1;
padding: 9px 4px;
background-color: #f44336;

border-radius: 50%;
}

#button-6 .layer,
#button-6 .knobs,
#button-6 .knobs:before {
transform: rotateZ(0);
transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-6 .checkbox:checked + .knobs {
transform: rotateZ(-180deg);
}

#button-6 .checkbox:checked + .knobs:before {
content: "ON";
background-color: #03a9f4;
transform: rotateZ(180deg);
}

#button-6 .checkbox:checked ~ .layer {
background-color: #ebf7fc;
transform: rotateZ(180deg);
}