@page
@model presentacion.Pages.InfoEstiloModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Color.css" />
</head>
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Sección Datos de Estilos</li>
</ol>
<div>
  <h5>Datos del estilo <strong>@Model.InfoEstilo.Nombre</strong></h5>
    <br>
    <div class="row" id="info">
        <div class="col-md-2">
            <label><strong>Estilo</strong></label>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.InfoEstilo.Nombre)
        </div>
        <div class="col-md-2">
            <label><strong>Estado</strong></label>
        </div>
        @if (@Model.InfoEstilo.Estado == true)
        {
        <div class="col-md-10">
            <label>Activo</label>
        </div>
        }
        else
        {
        <div class="col-md-10">
            <label>Inactivo</label>
        </div>
        }
    </div>
</div>