@page
@model presentacion.Pages.DeleteRevRepModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Operacion.css" />
</head>
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Sección Eliminar Rev-Repuesto</li>
</ol>
<div>
  <h4>Estas seguro de querer eliminar este registro?</h4>
    <br>
    <div class="row" id="info">
        <div class="col-md-2">
            <label><strong>Repuesto</strong></label>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.DelRevRep.repuesto.Producto)
        </div>
        <div class="col-md-2">
            <label><strong>Revision</strong></label>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.DelRevRep.revision.vehiculo.Placa)
        </div>
     </div>   
</div>
    <form method="post">
        <div class="row" id="delete">
        <input type="hidden" asp-for="DelRevRep.RevRepuestosId">
        <div class="col-md-2">
            <input type="submit" name="" value="¡Si, Eliminar!" class="btn btn-outline-danger" asp-page="/DeleteRevRep/OnPost">
        </div>
        <div class="col-md-10">
            <a asp-page="./RevRep" class="btn btn-outline-primary">¡No!</a>
        </div>
        </div>
    </form>