@page
@model presentacion.Pages.GrupoRepuestoModel
@{
}
<h3 class="text-center">Listado Grupo de Repuestos</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Grupo</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var grupoRepuestos in Model.grupoRepuesto)
    {
        <tr>
          @if (grupoRepuestos.Estado == true)
          {
            <td>@grupoRepuestos.Id</td>
            <td>@grupoRepuestos.Grupo</td>
            <td><span class="badge rounded-pill bg-primary">Activo</span></td>
          }
          else
          {
            <td>@grupoRepuestos.Id</td>
            <td>@grupoRepuestos.Grupo</td>
            <td><span class="badge rounded-pill bg-danger">Inactivo</span></td> 
          }
            
        </tr>
    }
 </tbody>
</table>
