@page
@model presentacion.Pages.DeleteColorModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Color.css" />
</head>
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Sección Elimar Colores</li>
</ol>
<div>
  <h4>Estas seguro de querer eliminar el color <strong>@Model.DelColor.Nombre?</strong></h4>
    <br>
    <div class="row" id="delete">
        <div class="col-md-2">
            <label><strong>Color</strong></label>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.DelColor.Nombre)
        </div>
        <div class="col-md-2">
            <label><strong>Estado</strong></label>
        </div>
        @if (@Model.DelColor.Estado == true)
        {
            <div class="col-md-10">
                <label>Activo</label>
            </div>
        }
        else
        {
            <div class="col-md-10">
                <label>Inactivo</label>
            </div>
        }
    </div>
</div>

    <form method="post">
        <div class="row" id="delete">
        <input type="hidden" asp-for="DelColor.ColorId">
        <div class="col-md-2">
            <input type="submit" name="" value="¡Si, Eliminar!" class="btn btn-outline-danger" asp-page="/DeleteColor/OnPost">
        </div>
        <div class="col-md-10">
            <a asp-page="./Color" class="btn btn-outline-primary">¡No!</a>
        </div>
        </div>
    </form>
