@page
@model presentacion.Pages.EditColorModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/Color.css" />
</head>

    @if (@Model.ListColor.Id > 0 )
    {
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Sección Actualizar Colores</li>
        </ol>
        <h3>Modificar Datos</h3>
    }
    else
    {
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Sección Agregar Colores</li>
        </ol>
        <h3>Creación de Colores</h3>
    }

 <div class="container" id="formList">
    <form method="post"  class="needs-validation" novalidate>
        <input type="hidden" asp-for="ListColor.Id"/>

        <div class="row col-md-10">
            <div class="col-md-2">
                <label class="col-form-label">Nombres</label>
            </div>
            <div class="col-md-3">
                <input type="text" asp-for="ListColor.Nombre" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor digite un color
                </div>
            </div>
        </div>
        <div class="row col-md-10">
            <div class="col-md-2">
                    <label class="col-form-label">Estado</label>
            </div>
            <div class="col-md-3">
                    <div class="button r" id="button-6">
                    <input type="checkbox" class="checkbox" asp-for="ListColor.Estado"/>
                    <div class="knobs"></div>
                    <div class="layer"></div>
                    </div>
            </div>
         </div>
        <br>
        <div class="row col-md-10">
            <div class="col-md-5 col-lg-5">
                <button type="submit" class="btn btn-outline-primary">Guardar</button>
            </div>
        </div>    
    </form>
</div> 

<script src="~/js/Persona.js"></script>